body {
    background-color: white ;
}

#entete {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

h3 {
    margin-top: 3em;
    z-index: -1;
}

.a_faire {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .5rem;
    border-radius: .5rem;
    border-left-color: rgb(255,87,34);
}

.exercice {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .5rem;
    border-radius: .5rem;
    border-left-color: blue;
}

.bonne_pratique {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .5rem;
    border-radius: .5rem;
    border-left-color: rgb(205,220,57);
    font-style: italic;
}

.cible {
    position: absolute;
    left: 0;
    top: 0;
}
.anchor {
    position: relative;
}

#principal {
    margin-bottom: 30em;
}

#plan {
    font-size: 1.2em;
}

.chapitre:hover {
    color: blue;
}

label
{
	display: block;
	width: 170px;
	float: left;
}


